extends ../layout

block content
    -var journal = 'http://localhost:3000/journal/pages/' + user;
    -var tasks = 'http://localhost:3000/tasks/all/' + user;
    ul.nav.nav-tabs.justify-content-center
        li.nav-item
            a.nav-link.disabled(href='#')= user
        li.nav-item
            a.nav-link(href=journal) Journal
        li.nav-item
            a.nav-link(href=tasks) Tasks
        li.nav-item
            a.nav-link(href='http://localhost:3000/user/logout') Logout
    .card
        .card-header
            h1= 'Hello ' + user + '!'
        .card-body 
            a(class="btn btn-secondary" href=journal) Journal