extends ../logedInLayout

block content
    .card
        .card-body.text-center
            h2= user + '\'s journal'
            h5= '(' + pages.length + ' pages)'
            a(class="btn btn-secondary" href='http://localhost:3000/journal/page/create') Add another page
            a(class="btn btn-primary" href='http://localhost:3000/home') Home
    ul
        each val in pages
            .card
                .card-body
                    h3.card-title(style="color:#585858;")=val.title 
                    h5.card-text= val.content
                    -var editUrl = 'http://localhost:3000/journal/page/' + val.id;
                    -var deleteUrl = 'http://localhost:3000/journal/page/' + val.id + '/delete';
                    .card-footer
                        form(method="POST" action=deleteUrl)
                            a(class="btn btn-success" href=editUrl) Edit
                            button.btn.btn-danger(type='submit') Delete