extends ../layouts/loggedInLayout

block content
    .card.text-center
        .card-footer.text-muted
            a(class="btn btn-success" href='http://localhost:3000/stats/' + user) See YOUR stats
        form
            input(type="hidden" id="users" value=data.labels)
            input(type="hidden" id="stats" value=data.stats)
    .card
        .card-body.text-center
            div
                h2 Most active users
                h5= '(' + users.length + ' users)'
            form(method = 'POST', action = '/stats/top')
                .mb-3
                    select.form-select(name='selection' onchange="this.form.submit();")
                        option(selected) Selecy by:
                        option(value='points') total points
                        option(value='journals') journal pages
                        option(value='todos') completed tasks
                        option(value='habits') completed habits
    .card.mx-auto(style='width: 500px')
        h5.text-center(style='color:deeppink') The top doughnut:
        canvas#myChart(width='200' height='50')
        script.
        
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                labels: [],
                datasets: [{
                    label: 'Users doughnut',
                    data: [],
                    hoverOffset: 4,
                    backgroundColor: [],
                }]
                }
            });

            //adds data to chart
            function addData(chart, labels, data, colors) {
                chart.data.labels = labels;
                chart.data.datasets[0].data = data;
                chart.data.datasets[0].backgroundColor = colors;
                chart.update();
            }

            //transforms data to correct format
            function transformData(data) {
                data = data.substring(1);
                data = data.slice(0, -1);
                const newData = data.split(',');
                return newData;
            }
            
            //returns random colors for the chart background
            function getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            //gets data from hidden inputs
            function helper() {
                var users = document.getElementById('users').value;
                var stats = document.getElementById('stats').value;
                users = transformData(users);
                stats = transformData(stats);
                var colors = [];
                for (var i = 0; i < users.length; i++) {
                    colors[i] = getRandomColor();
                }
                console.log(colors)
                addData(myChart, users, stats, colors);
            }
            
            helper();

    ul
        each val in users
            .card
                .card-body
                    if val.name != user
                        a(class="link-dark", href='http://localhost:3000/stats/' + val.name)
                            h3.card-title(style="color:#585858;")=val.name
                    else 
                        a(class="link-success", href='http://localhost:3000/stats/' + val.name)
                            h3.card-title(style="color:#585858;")=val.name + ' (YOU)'
                    if val.points != undefined
                        h5.card-text= 'Points: '
                            span(style='color:red')= val.points
                    else if val.numberofjournals != undefined
                        h5.card-text= 'Journal pages: '
                            span(style='color:red')= val.numberofjournals
                    else if val.numberoftodos != undefined
                         h5.card-text= 'Done tasks: '
                            span(style='color:red')= val.numberoftodos
                    else if val.numberofhabits != undefined
                        h5.card-text= 'Completed habits '
                            span(style='color:red')= val.numberofhabits
                            |  times