extends ../layouts/loggedInLayout

block content
    .card.text-center
        .card-footer.text-muted
            a(class="btn btn-success" href='http://localhost:3000/stats/' + user) See YOUR stats
    .card
        .card-body.text-center
            div
                h2 Most active users
                h5= '(' + users.length + ' users)'
            form(method = 'POST', action = '/stats/top')
                .mb-3
                    select.form-select(name='selection' onchange="this.form.submit();")
                        option(selected) Selecy by:
                        option(value='points') total points
                        option(value='journals') journal pages
                        option(value='todos') completed tasks
                        option(value='habits') completed habits
    ul
        each val in users
            .card
                .card-body
                    if val.name != user
                        a(class="link-dark", href='http://localhost:3000/stats/' + val.name)
                            h3.card-title(style="color:#585858;")=val.name
                    else 
                        a(class="link-success", href='http://localhost:3000/stats/' + val.name)
                            h3.card-title(style="color:#585858;")=val.name + ' (YOU)'
                    if val.points != undefined
                        h5.card-text= 'Points: '
                            span(style='color:red')= val.points
                    else if val.numberofpages != undefined
                        h5.card-text= 'Journal pages: '
                            span(style='color:red')= val.numberofpages
                    else if val.numberoftasks != undefined
                         h5.card-text= 'Done tasks: '
                            span(style='color:red')= val.numberoftasks
                    else if val.numberofhabits != undefined
                        h5.card-text= 'Completed habits '
                            span(style='color:red')= val.numberofhabits
                            |  times