extends ../layouts/loggedInLayout

block content
  .card 
    .card-body.text-center
      h2 TOP:
      a(class="btn btn-secondary" href='http://localhost:3000/stats/top') See all the users
  .card 
    .card-header.text-center
      h1= stats.name + '\'s stats'
      h4(style='color:blue')= 'Points: ' + stats.points
    .card-body.text-center
      h5(style='color:green')= 'Journal pages: ' + stats.pages
      h5(style='color:green')= 'Finished tasks: ' + stats.doneTasks
      h5(style='color:red')= 'Unfinished tasks: ' + stats.undoneTasks
    .card-footer.text-muted
      h4 To-Dos completion:
      .progress(style="height: 30px;")
        -var width = 'width: ' + stats.percentage + '%';
        .progress-bar.progress-bar-striped.progress-bar-animated.bg-success(role='progress', style= width, aria-valuemin='0', aria-valuemax='100')= stats.percentage + '%'
  .card.text-center
    h5 Habits progress (last week)
    canvas#myChart(width='200' height='50')
  script.
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['6 days ago', '5', '4', '3', '2', '1', 'today'],
        datasets: [
          {
            label: 'failed habits',
            data: [],
            backgroundColor: 'red',
            borderColor: 'red',
            borderWidth: 3
          },
          {
            label: 'completed habits',
            data: [],
            backgroundColor: 'green',
            borderColor: 'green',
            borderWidth: 3
          }
        ]
      },
    });
    //- function addData(chart, data) {
    //-   chart.data.datasets.forEach((dataset) => {
    //-       dataset.data.push(data);
    //-   });
    //-   chart.update();
    //- }
    //- for (let i = 0; i <= 6; i++) {
    //-   addData(myChart, 2);
    //- }
